<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <title>Steganography</title>
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">Hi guys!</h1>
      </div>
    </header> 
     
    <div class="container">
      <div class="jumbo">
        <h2>Welcome to Our Steganography App<h2>
        <h3>Use the panel below to hide or recover your message!<h3>
      </div>
      <hr>
    </div>

    <div class="container">

    <!-- PLAYER -->
      {% if (media.method == 'hide' or media.method == 'recover') and media.file != -1 %}
      <div class="container container-result-player">
        <h3>Result</h3>
        
        {% if media.method == 'hide' %}
        {% if media.type == 'video' %}
        <div>
          <video controls>
            <source src={{ media.file }} type="video/mp4">
          </video>
        </div>
        {% elif media.type == 'audio' %}
        <div>
          <audio controls>
            <source src={{ media.file }} type="audio/wav">
          </audio>
        </div>
        {% endif %}
        {% endif %}

        <div>
          <a href="/get_file?file={{ media.download_link }}">
            <button id="download-button" class="btn btn-warning">Download</button>
            <label for="download-button">{{ media.filename }}</label>
          </a>
        </div>
        <hr>
      </div>
      {% endif %}

    <!-- WARNING -->
      {% if media.file == -1 %}
      <div class="alert alert-danger" role="alert">
        <p>
          The payload is oversized!<br>
          (That means either your message file is too big or your media size is too small)
        </p>
      </div>
      {% endif %}

    <!-- NAVTAB LEVEL 1 - SELECT MEDIA -->
    <!-- ============================= -->
      <ul class="nav nav-tabs nav-level-1" id="mainTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="video-tab" data-toggle="tab" href="#video-content" role="tab" aria-controls="video" aria-selected="true">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="audio-tab" data-toggle="tab" href="#audio-content" role="tab" aria-controls="audio" aria-selected="false">Audio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">About</a>
        </li>
      </ul>
    <!-- //=========================== -->

      <div class="tab-content" id="mainTabContent">
	    

	    <!-- TAB I - VIDEO PAGE -->
	    <!-- ================== -->
        <div class="tab-pane fade show active" id="video-content" role="tabpanel" aria-labelledby="video-tab">
          <form action = "/" method = "POST" enctype = "multipart/form-data">
	          
	          <div class="container form form-group option">
	  
	          <!-- NAVTAB LEVEL 2 - MODE SELECTION -->
  	        <!-- =============================== -->
							<ul class="nav nav-pills nav-level-2 mb-3" id="pills-tab" role="tablist">
							  <li class="nav-item">
							    <a class="nav-link nav-link-hide active" id="video-pills-hide-tab" data-toggle="pill" href="#video-pills-hide" role="tab" aria-controls="video-pills-hide" aria-selected="true">Hide Message</a>
							  </li>
							  <li class="nav-item">
							    <a class="nav-link nav-link-recover" id="video-pills-recover-tab" data-toggle="pill" href="#video-pills-recover" role="tab" aria-controls="video-pills-recover" aria-selected="false">Recover Message</a>
							  </li>
							</ul>
  	        <!-- //============================= -->

							<div class="tab-content" id="pills-tabContent">

							<!-- TAB I.I - HIDE OPTION -->
							<!-- ===================== -->
                <div class="tab-pane fade show active" id="video-pills-hide" role="tabpanel" aria-labelledby="video-pills-hide-tab">
							  <fieldset class="option-fieldset fieldset-video fieldset-video-hide">

                  <!-- TAB I.I.I - STEGANO METHOD OPT -->
                  <div class="container">
                    <div class="table-responsive">
                      <table class="table option-table method-table">
                        <tr>
                          <th class="header">Steganography Method</th>
                          <td>
                            <input class="option-item method-option" type="radio" name="method-option" checked='checked' value=0> 1-bit LSB<br>
                            <input class="option-item method-option" type="radio" name="method-option" value=1> 2-bit LSB<br>
                          </td>
                        </tr>
                      </table>
                    </div>                                      
                  </div>

                  <!-- TAB I.I.II - FRAME SEQUENCE OPT -->
                  <div class="container">
                    <div class="table-responsive">
                      <table class="table option-table frame-table">
                        <tr>
                          <th class="header">Frame Sequence</th>
                          <td>
                            <input class="option-item frame-option" type="radio" name="frame-option" checked='checked' value=0> Sequential<br>
                            <input class="option-item frame-option" type="radio" name="frame-option" value=1> Randomized<br>
                          </td>
                        </tr>
                      </table>
                    </div>                                      
                  </div>
                  
                  <!-- TAB I.I.III - PIXEL SEQUENCE OPT -->
                  <div class="container">
                    <div class="table-responsive">
                      <table class="table option-table pixel-table">
                        <tr>
                          <th class="header">Pixel Sequence</th>
                          <td>
                            <input class="option-item pixel-option" type="radio" name="pixel-option" checked='checked' value=0> Sequential<br>
                            <input class="option-item pixel-option" type="radio" name="pixel-option" value=1> Randomized<br>
                          </td>
                        </tr>
                      </table>
                    </div>                                      
                  </div>

                  <!-- TAB I.I.IV - INSERTED FILE -->
                  <div class="container">
                    <div class="table-responsive">
                      <table class="table option-table message-table">
                        <tr>
                          <th class="header">Inserted file</th>
                          <td>
                            <input type="file" id="inserted-file" class="form-control-file" name="i_file" />
                            
                          </td>
                        </tr>
                      </table>
                    </div>                                      
                  </div>

                  <!-- TAB I.I.V - CHANGE FILE NAME -->
<!--                   <div class="container">
                    <label for="saveas-input">Save file with a different name?</label>
                    <div id="saveas-input" class="input-group mb-3 saveas-input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" name="saveas-check" aria-label="Checkbox for modifying result file name">
                        </div>
                      </div>
                      <input type="text" name="saveas-text" class="form-control" aria-label="Text input for new file name" placeholder="Use original file name" value="" readonly>
                    </div>                    
                  </div>
 -->
                </fieldset>
                </div>
              <!-- //=================== -->

              <!-- TAB I.II - RECOVER OPTION -->
							<!-- ========================= -->
							  <div class="tab-pane fade" id="video-pills-recover" role="tabpanel" aria-labelledby="video-pills-recover-tab">
                <fieldset class="option-fieldset fieldset-video fieldset-video-recover">
                <!-- TAB I.II.I - CHANGE FILE NAME -->
                  <!-- <div class="container">
                    <label for="saveas-input">Save file with a different name?</label>
                    <div id="saveas-input" class="input-group mb-3 saveas-input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" name="saveas-check" aria-label="Checkbox for modifying result file name">
                        </div>
                      </div>
                      <input type="text" name="saveas-text" class="form-control" aria-label="Text input for new file name" placeholder="Use original file name" value="" readonly>
                    </div>                    
                  </div> -->
                </fieldset>
                </div>
							<!-- //======================= -->

							</div>

	          </div>
          	
          <!-- VIDEO - KEY AND FILE UPLOAD -->
          <!-- ========================== -->
          	<div class="container form form-group upload">

            <!-- FILE -->
              <div class="container upload-component upload-file">
                <label for="file"><h3>Select media file</h3></label>
                <input type="file" id="file" class="form-control-file" name="file" />
              </div>
            
              <div class="container sub-upload-file">
                
              <!-- KEY -->
                <div class="upload-component upload-key">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="keyword">Keyword</span>
                    </div>
                    <input type="text" class="form-control" name="keyword" placeholder="None..." aria-label="Keyword" aria-describedby="keyword" value="">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="checkbox-label"">Encrypt message?</span>
                        <input type="checkbox" name="encrypt-option" aria-label="Checkbox for message encryption">
                      </div>
                    </div>
                  </div>
                </div>

              <!-- CUSTOM FILE NAME -->
                <div class="upload-component upload-name">
                  <div id="saveas-input" class="input-group mb-3 saveas-input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="checkbox-label"">Save file under a different name?</span>
                        <input type="checkbox" name="saveas-check" aria-label="Checkbox for modifying result file name">
                      </div>
                    </div>
                    <input type="text" name="saveas-text" class="form-control" aria-label="Text input for new file name" placeholder="Use original file name" value="" readonly>
                  </div>
                </div>

              </div>

              <input type="hidden" name="source" value="video" />
              <input type="hidden" name="mode" value="hide" />

          	</div>
          <!-- //======================== -->

            <button type = "submit" class="btn btn-success btn-submit">Submit</button>

          </form>
        </div>
	    <!-- //================ -->


      <!-- TAB II - AUDIO PAGE -->
	    <!-- =================== -->
        <div class="tab-pane fade" id="audio-content" role="tabpanel" aria-labelledby="audio-tab">
          <form action = "/" method = "POST" enctype = "multipart/form-data">
            
            <div class="container form form-group option">
    
            <!-- NAVTAB LEVEL 2 - MODE SELECTION -->
            <!-- =============================== -->
              <ul class="nav nav-pills nav-level-2 mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link nav-link-hide active" id="audio-pills-hide-tab" data-toggle="pill" href="#audio-pills-hide" role="tab" aria-controls="audio-pills-hide" aria-selected="true">Hide Message</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-recover" id="audio-pills-recover-tab" data-toggle="pill" href="#audio-pills-recover" role="tab" aria-controls="audio-pills-recover" aria-selected="false">Recover Message</a>
                </li>
              </ul>
            <!-- //============================= -->
              
              <div class="tab-content" id="pills-tabContent">

              <!-- TAB II.I - HIDE OPTION -->
              <!-- ===================== -->
                <div class="tab-pane fade show active" id="audio-pills-hide" role="tabpanel" aria-labelledby="audio-pills-hide-tab">
                <fieldset class="option-fieldset fieldset-audio fieldset-audio-hide">
                  <!-- TAB II.I.I - STEGANO METHOD OPT [UNUSED] -->
                  <!-- <div class="container">
                    <div class="table-responsive">
                      <table class="table option-table method-table">
                        <tr>
                          <th class="header">Steganography Method</th>
                          <td>
                            <input class="option-item method-option" type="radio" name="method-option" checked='checked' value=0> LSB<br>
                            <input class="option-item method-option" type="radio" name="method-option" value=1> Echo-hiding<br>
                          </td>
                        </tr>
                      </table>
                    </div>                                      
                  </div>
                   -->
                  <!-- TAB II.I.II - FRAME SEQUENCE OPT -->
                  <div class="container">
                    <div class="table-responsive">
                      <table class="table option-table frame-table">
                        <tr>
                          <th class="header">Frame Sequence</th>
                          <td>
                            <input class="option-item frame-option" type="radio" name="frame-option" checked='checked' value=0> Sequential<br>
                            <input class="option-item frame-option" type="radio" name="frame-option" value=1> Randomized<br>
                          </td>
                        </tr>
                      </table>
                    </div>                                      
                  </div>

                  <!-- TAB I.I.III - INSERTED FILE -->
                  <div class="container">
                    <div class="table-responsive">
                      <table class="table option-table message-table">
                        <tr>
                          <th class="header">Inserted file</th>
                          <td>
                            <input type="file" id="inserted-file" class="form-control-file" name="i_file" />
                            
                          </td>
                        </tr>
                      </table>
                    </div>                                      
                  </div>

                  <!-- TAB II.I.IV - CHANGE FILE NAME -->
                  <!-- <div class="container">
                    <label for="saveas-input">Save file with a different name?</label>
                    <div id="saveas-input" class="input-group mb-3 saveas-input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" name="saveas-check" aria-label="Checkbox for modifying result file name">
                        </div>
                      </div>
                      <input type="text" name="saveas-text" class="form-control" aria-label="Text input for new file name" placeholder="Use original file name" value="" readonly>
                    </div>
                  </div> -->
                
                </fieldset>
                </div>
              <!-- //=================== -->

              <!-- TAB II.II - RECOVER OPTION -->
              <!-- ========================= -->
                <div class="tab-pane fade" id="audio-pills-recover" role="tabpanel" aria-labelledby="audio-pills-recover-tab">
                <fieldset class="option-fieldset fieldset-audio fieldset-audio-recover">
                  <!-- TAB II.II.I - CHANGE FILE NAME -->
                  <!-- <div class="container">
                    <label for="saveas-input">Save file with a different name?</label>
                    <div id="saveas-input" class="input-group mb-3 saveas-input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input type="checkbox" name="saveas-check" aria-label="Checkbox for modifying result file name">
                        </div>
                      </div>
                      <input type="text" name="saveas-text" class="form-control" aria-label="Text input for new file name" placeholder="Use original file name" value="" readonly>
                    </div>                    
                  </div> -->

                </fieldset>
                </div>
              <!-- //======================= -->

              </div>

            </div>

          <!-- AUDIO -KEY AND FILE UPLOAD -->
          <!-- ========================== -->
            <div class="container form form-group upload">

            <!-- FILE -->
              <div class="container upload-component upload-file">
                <label for="file"><h3>Select media file</h3></label>
                <input type="file" id="file" class="form-control-file" name="file" />
              </div>

            <div class="container sub-upload-file">
                
              <!-- KEY -->
                <div class="upload-component upload-key">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="keyword">Keyword</span>
                    </div>
                    <input type="text" class="form-control" name="keyword" placeholder="None..." aria-label="Keyword" aria-describedby="keyword" value="">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="checkbox-label"">Encrypt message?</span>
                        <input type="checkbox" name="encrypt-option" aria-label="Checkbox for message encryption">
                      </div>
                    </div>
                  </div>
                </div>

              <!-- CUSTOM FILE NAME -->
                <div class="upload-component upload-name">
                  <div id="saveas-input" class="input-group mb-3 saveas-input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="checkbox-label"">Save file under a different name?</span>
                        <input type="checkbox" name="saveas-check" aria-label="Checkbox for modifying result file name">
                      </div>
                    </div>
                    <input type="text" name="saveas-text" class="form-control" aria-label="Text input for new file name" placeholder="Use original file name" value="" readonly>
                  </div>
                </div>

              </div>

              <input type="hidden" name="source" value="audio" />
              <input type="hidden" name="mode" value="hide" />

            </div>
          <!-- //======================== -->

            <button type = "submit" class="btn btn-success btn-submit">Submit</button>

          </form>
        </div>
	    <!-- //================= -->

      <!-- TAB III - ABOUT PAGE -->
	    <!-- ==================== -->
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
          <h4>This app is made by:</h4>
          <ul>
            <li>Aya Aurora Rimbamorani - 13515098</li>
            <li>Rahmad Yesa Surya - 13515088</li>
            <li>Husnulzaki Wibisono Haryadi - 13515005</li>
          </ul>
        </div>
	    <!-- //================== -->

      </div>      
    </div>

    <div>
      <input type="hidden" name="type" value={{ media.type }}>
      <input type="hidden" name="method" value={{ media.method }}>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="/static/js/bootstrap.bundle.js"></script> -->
    <script type="text/javascript" src="/static/js/index.js"></script>

  </body>
</html>
